/* $VARIABLES */

/* $COLORS */
$color-pri: #feb633;
$gray: #8a8fa3;
$gray-two:#727b86;
$gray-three:#666;
$black: #022144;
$black-two: #2c2c2c;
$black-three: #32333c;
$white: #ffffff;
$white-two: #FBFBFB;
$white-third: #F6F8FC;
$bg-icon-alter:#dce2ed;
$color-icon-alter: #707b90;

$color-skyblue:#53BCED;
$colot-green: #02BB73;
$color-violet: #3E31AE;
$colot-red:#DC3737;
$color-organge: #F97C46;
// #FBD214


/* $FONTS */
$font-pri: 'Poppins';

/* $WEIGHT */
$fweight300:300;
$fweight400:400;
$fweight500:500;
$fweight600:600;
$fweight700:700;


/*BUTTONS*/
$btn-border: 2px solid $color-pri;
$btn-padd: 20px 75px;

/* $TITLE */
$theight1: 1;
$theight1_2:1.2;
$theight1_3:1.3;
$theight1_4:1.4;
$theight1_5:1.5;
$theight1_6:1.6;
$theight1_7:1.7;
$theight1_8:1.8;
$theight1_9:1.9;
$theight2:2;
$title-fzise1:45px;
$title-fzise2:35px;


/* $HTML FONT-SIZE */
$font-html: 100%;

/*size letter*/
$size-letter:16px; 


/* VIEWPORT, BREAKPOINT*/
$mxwidth-desktop: 1200px;
$width-desktop:78%;
$view-margin:auto;
$view-mobile: 600px;

/*Z-INDEX*/
$zindex-1:1;
$zindex-10:10;
$zindex-100:100;
$zindex-1000:1000;

/*PADDINGS SECTIONS*/
$padd_section: 70px 0;
$margin-sone:50px;