extends ../templates/template

//- block header
//-   h1  Soy Jair

block main
  section
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis ipsam recusandae omnis magni mollitia! Natus vitae necessitatibus vero? At dolor facere earum exercitationem sapiente hic dicta, delectus ipsa quibusdam aspernatur!

block footer
  p footer