<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/duotone.css" integrity="sha384-R3QzTxyukP03CMqKFe0ssp5wUvBPEyy9ZspCB+Y01fEjhMwcXixTyeot+S40+AjZ" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/fontawesome.css" integrity="sha384-eHoocPgXsiuZh+Yy6+7DsKAerLXyJmu2Hadh4QYyt+8v86geixVYwFqUvMU8X90l" crossorigin="anonymous"/>
    link(rel="stylesheet", href="./css/styles.css")

  body

    header.bk-header
      .bk_desktop
        nav.nav_desktop.flex-between
          a.logo_desktop(href="#") M.

          .desktop_bklinks.flex-between
            a Inicio
            a Sobre mi
            a Servicios
            a Portafolio
            a Contacto
            a Cursos

    //- header.bk-header
    //-   block header
    
    main.bk-main
      block main
    
    footer.bk-footer
      block footer



    //- h1  Hola  
    //- p.red Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus sequi quia saepe, vel suscipit alias placeat quas sapiente accusamus consequuntur vero adipisci ducimus culpa odit at sunt doloribus quos veniam?
    //- p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem totam reiciendis earum consequatur, cum error maiores! Rerum placeat enim hic obcaecati, nesciunt atque velit quam recusandae laborum ipsum, molestiae aut.
    //- h2 hello im fine
    //- p.yelow soy dev fpr future tecnologies

    script(src="js/scripts-min.js")